body {
  margin: 0;
  padding: 0;
  background: url(../css/img/bg.jpeg) no-repeat center top;
  background-size: cover;
  font-family: sans-serif;
  height: 100vh;
}

.formulario-box {
  width: 320px;
  height: 850px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 165px 30px;
}


.formulario-box h1 {
  margin: 0;
  padding: 0 0 20px;
  text-align: center;
  font-size: 20px;
}

.formulario-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}


.formulario-box input {
  width: 100%;
  margin-bottom: 15px;
}

.formulario-box input[type="text"], .formulario-box input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.formulario-box input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.formulario-box input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.formulario-box input[type="reset"] {
  border: none;
  outline: none;
  height: 40px;
  background: #b80f22;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.formulario-box input[type="reset"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}

.formulario-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.formulario-box a:hover {
  color: #fff;
}

